version: "3.8"
services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - SERVICES=s3,sqs,sts
      - DEBUG=1
      - DATA_DIR=/var/lib/localstack
    volumes:
      - ./localstack:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
      - ./localstack-init:/etc/localstack/init/ready.d
      - ./Video_Deitado_Gritando_Socorro.mp4:/tmp/Video_Deitado_Gritando_Socorro.mp4